@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  ::selection {
    background: #ffffff;
    color: #171717;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

  &::before {
    content: "";
    background-image: url("/bg-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    z-index: -1;
  }
}

.bio-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.025);
  }
}

.bio-links {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.bio-link {
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.25);
  }

  &.bio-link--linkedin {
    background-image: url("/bio-link-linkedin.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.bio-link--codepen {
    background-image: url("/bio-link-codepen.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.bio-link--github {
    background-image: url("/bio-link-github.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
